<%#= Booking confirmation page: contains booking details that wanna be confirmed %>
<% if false %>
  <div class="container">
  <p>Row</p>
  <div class="row p-5" style="background: yellow">
    <div class="col-12 col-md-8 p-5" style="background:blue">
      <p>Row</p>
      <div class="row p-5" style="background: pink">
        <div class="col-12 col-md-8 p-2" style="background:blue"></div>
        <div class="col-12 col-md-4 p-2" style="background:green"></div>
      </div>
    </div>
    <div class="col-12 col-md-4 p-5" style="background:green"></div>
  </div>
</div>
<% end %>

<div class="bg-2 wrap">
  <div class="container my-5 pt-5 text-black">
    <h1 class="h2 text-center">Booking Details</h1>
    <br>
    <br>
    <div class="row">
      <div class="d-flex">
        <div class="col-6">
          <img src="<%= url_for(@event.photos[0]) %>" alt="Main picture" class="img-fluid img-object-fit-cover card-img-top">
        </div>
        <div class="col-6 px-5 text-white mt-5">
          <h1 class="fw-bold h2"><%= @event.name %></h1>
          <h3 class="h5 pt-3">$ <%= @event.price %> AUD/person</h3>
          <div class="d-flex gap-4 pt-2">
            <div class=""><i class="fa fa-map-marker-alt"></i> <%= @event.location %></div>
            <div class=""><i class="fa fa-calendar-alt"></i>  <%= @event.formatted_date %></div>
          </div>
          <p>
            <i class="fa fa-clock pt-1"></i>  <%= @event.formatted_start_time %> to <%= @event.formatted_end_time %>
          </p>
          <%= simple_form_for [@event, @booking], data: {controller:"pricing", pricing_price_value: "#{@event.price}"} do |f| %>
          <%= f.input :noguest, label: 'No. of guests', input_html: { min: '1', data: {action: "pricing#calculateTotal", pricing_target:'input', price: @event.price.to_s}} %>
          <%= f.association :event, as: :hidden %>
          <div class="pt-2"> Booked by: <%= @event.user.email %> </div>
          <div class="pt-2"> Total price: <span data-pricing-target="total"></span> </div>
          <hr>
          <h3 class="pt-5"> Covid Guidelines </h3>
          <p> All Hosts and guests must agree to  wear a mask and practise social distancing when required by local laws and guidelines </p>
          <h3 class=""> Booking Cancellation Policy </h3>
          <p> You can cancel your booking 48 hours prior to the event with a full refund. If you cancel after that, you will be charged 50% of the event price. </p>
          <br>
          <hr>
          <p> By proceeding to pay, I agree to <a href="/terms">Terms of Service</a> and acknowledge the <a href="/privacy">Privacy Policy</a> of MealVille. For more information, please read our <a href="/terms">Terms of Service</a>.</p>
          <%= f.submit 'Proceed to Pay', class: 'btn btn-lg btn-outline-primary' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
