<h1>Your Booking Details</h1>
<%= @booking.id %>
<%= simple_form_for :message, url: booking_message_host_path(booking_id: @booking.id) do |f| %>
  <%= f.input :subject, as: :string %>
  <%= f.input :body, as: :text %>
  <%= f.submit 'Send', class: 'btn-submit' %>
<% end %>
