<div class="navbar navbar-expand-sm navbar-lewagon navbar-dark w-100">
  <div class="container-fluid px-4">
    <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "MV.svg" %>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
    <div class="d-none d-sm-block w-50">
      <% if (params[:controller] == "events" && (params[:action] == "index" || params[:action] == "show")) %>
        <div class="d-flex justify-content-center w-100">
          <%= render 'shared/search_form' %>
        </div>
      <% end %>
    </div>
    <div class="" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto d-flex flex-row">
        <li class="nav-item">
          <%#= link_to "Create an event", new_host_event_path, class: 'btn btn-outline-info rounded rounded-4 text-white mx-3 fw-bold' %>
          <%= link_to 'Explore', events_path, class:"btn btn-outline-info mx-3"%>
        </li>
        <% if user_signed_in? %>
          <% if !current_user.host %>
            <li class="nav-item">
              <%= button_to "Become a host", become_host_path, method: :patch, class: 'btn btn-outline-primary rounded rounded-4  mx-3' %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= image_tag (current_user.avatar_url || 'user-icon.png'), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end bg-dark-green position-absolute" aria-labelledby="navbarDropdown">
              <%= link_to "User Dashboard", dashboard_path, class: "dropdown-item text-white" %>
              <% if current_user.host %>
                <hr>
                <%= link_to "Host Dashboard", host_dashboard_path, class: "dropdown-item text-white" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-white" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-info" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
<div class="d-block d-sm-none w-100 px-3 mt-5">
  <% if (params[:controller] == "events" && (params[:action] == "index" || params[:action] == "show")) %>
    <div class="d-flex justify-content-center w-100">
      <%= render 'shared/search_form' %>
    </div>
  <% end %>
</div>
