<% if controller_name == 'pages' && action_name == 'home' %>
  <%= form_tag events_path, method: :get, class:"input-group row m-0" do %>
    <div class="col-12 col-md-7" style="padding: 0px!important">
      <%= text_field_tag :query, params[:query], class: "form-control bg-light bg-gradient bg-opacity-10 text-white", placeholder: "Search by an Event name, a Cuisine or a Location" %>
    </div>
    <div class="col-12 col-md-3" style="padding: 0px!important">
      <%= text_field_tag :dates, params[:dates], class: "form-control bg-light bg-gradient bg-opacity-10 text-white", placeholder: "Search by dates", data: {controller: 'flatpickr', flatpickr_target: 'dates'} %>
    </div>
    <div class="col-12 col-md-2" style="padding: 0px!important">
      <div class="input-group-append"><%= submit_tag "Search", class:"btn btn-outline-light w-100" %></div>
    </div>
  <% end %>
<% else %>
  <%= form_tag events_path, method: :get, class:"input-group row m-0" do %>
    <div class="col-12 col-md-7" style="padding: 0px!important">
      <%= text_field_tag :query, params[:query], class: "form-control bg-light bg-gradient", placeholder: "Filter by an Event name, a Cuisine or a Location" %>
    </div>
    <div class="col-12 col-md-3" style="padding: 0px!important">
      <%= text_field_tag :dates, params[:dates], class: "form-control bg-light bg-gradient", placeholder: "Filter by dates", data: {controller: 'flatpickr', flatpickr_target: 'dates'} %>
    </div>
    <div class="col-12 col-md-2" style="padding: 0px!important">
      <div class="input-group-append"><%= submit_tag "Search", class:"btn btn-primary w-100" %></div>
    </div>
  <% end %>
<% end %>
