<%# <div class="hero-image">
  <div class="hero-text">
    <h1>MealVille</h1>
    <button> <%= link_to 'Browse', events_path, class:"text-decoration-none text-black"%>
  <%# </div> %>
<%# </div> %>

<div class="hero" data-controller="slider">
  <div class="hero-text">
    <%= image_tag 'mealville.svg', style: "width: 400px;" %>
    <button> <%= link_to 'Browse', events_path, class:"text-decoration-none text-black"%>
  </div>
  <div class="splide" data-slider-target="slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <%= image_tag 'slider-1' %>
        </li>
        <li class="splide__slide">
          <%= image_tag 'slider-2' %>
        </li>
        <li class="splide__slide">
          <%= image_tag 'slider-3' %>
        </li>
      </ul>
    </div>
  </div>
</div>
