<%# <div class="hero-image">
  <div class="hero-text">
    <h1>MealVille</h1>
    <button> <%= link_to 'Browse', events_path, class:"text-decoration-none text-black"%>
  <%# </div> %>
<%# </div> %>

<div class="hero-image">
  <div class="container d-flex flex-column h-50 justify-content-center">
    <div class="row justify-content-center">
      <div class="hero-text col col-lg-12">
        <h1> <%= link_to 'MealVille', events_path, class:"text-decoration-none text-white" %> </h1>
        <div class="mb-3">
          <%= form_tag events_path, method: :get, class:"input-group row m-0" do %>
          <div class="col-12 col-md-7" style="padding: 0px!important">
            <%= text_field_tag :query, params[:query], class: "form-control bg-light bg-gradient bg-opacity-10 text-white", placeholder: "Search by an Event name or a Location" %>
          </div>
          <div class="col-12 col-md-3" style="padding: 0px!important">
            <%= text_field_tag :dates, params[:dates], class: "form-control bg-light bg-gradient bg-opacity-10 text-white", placeholder: "Search by a date range", data: {controller: 'flatpickr', flatpickr_target: 'dates'} %>
          </div>
          <div class="col-12 col-md-2" style="padding: 0px!important">
            <div class="input-group-append"><%= submit_tag "Search", class:"btn btn-outline-light w-100" %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
