<div class="row mb-5 bg-dark">
  <div class="col-12">
    <div class="hero" data-controller="slider">
      <div class="hero-text d-flex flex-column gap-4">
        <div class="d-flex flex-column gap-2">
          <%= image_tag 'mealville.svg', style: "width: 400px;" %>
          <p class="subtitle">Experience the food culture</p>
        </div>
        <div class="search-bar">
          <%= render 'shared/search_form' %>
        </div>
      </div>
      <div class="splide" data-slider-target="slider">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <%= image_tag 'https://res.cloudinary.com/sony123/image/upload/v1647153663/slider-1_fpaqv2.png' %>
            </li>
            <li class="splide__slide">
              <%= image_tag 'https://res.cloudinary.com/sony123/image/upload/v1647153655/slider-2_rhzr0z.png' %>
            </li>
            <li class="splide__slide">
              <%= image_tag 'https://res.cloudinary.com/sony123/image/upload/v1647153655/slider-3_ophmkk.png' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="col-12 col-lg-6 gap-3 d-flex flex-column justify-content-center">
      <p class="fs-5">
        ❝ MealVille is a home away from home for curious minds who wants to experience an authentic food culture and meet new friends through food in their home. Meet new friends and get a taste of home today.❞
      </p>
      <p class="text-center">
        <%= link_to 'Explore', events_path, class:"btn btn-lg btn-outline-info"%>
      </p>
    </div>
    <div class="col-12 col-lg-4">
      <%= image_tag 'https://res.cloudinary.com/sony123/image/upload/v1647153756/cinnamon_w7c4fq.jpg', class: 'img-fluid' %>
    </div>
  </div>
</div>
