<div class="container mt-3">
  <div class="d-flex justify-content-between mb-4">
    <h2 class="h4">Event - <%= @event.name %></h2>
    <%= button_to "Edit", edit_host_event_path(id: @event.id), class: 'btn btn-outline-info', method: :get %>
  </div>
  <div class="row">
    <div class="col-6">
      <strong>Event Info:</strong>
      <p><strong>Name:</strong> <%= @event.name %></p>
      <p><strong>Description:</strong> <%= @event.description %></p>
      <p><strong>Price:</strong> $<%= @event.price %>AUD</p>
      <p><strong>Capacity:</strong> <%= @event.capacity %> person</p>
      <p><strong>Start Time:</strong> <%= @event.formatted_start_time %></p>
      <p><strong>End Time:</strong><%= @event.formatted_end_time %></p>
      <p><strong>Event Date:</strong> <%= @event.formatted_date %></p>
    </div>
    <div class="col-6 d-flex flex-wrap gap-1 align-content-start">
      <% @event.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 200, height: 200, crop: :fill, class: 'img-fluid host-img-event-show' %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-12">
      <h3 class="h4">Bookings</h3>
      <ol>
      <% @event.bookings.each do |booking| %>
        <li>
          <%= booking.user.full_name || booking.user.first_name %>
          <% if booking.confirmed? %>
            <span class="text-success">Confirmed</span>
          <% elsif booking.cancelled? %>
            <span class="text-danger">Cancelled</span>
          <% else %>
            <%= link_to 'Confirm', host_event_booking_confirm_path(event_id: @event.id, booking_id: booking.id), method: :patch %>
          <% end %>
        </li>
       <% end %>
      </ol>
    </div>
  </div>
</div>
