<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <h2>Event - <%= @event.name %></h2>
    <%= link_to "Edit", edit_host_event_path(id: @event.id), class: 'btn btn-primary' %>
  </div>
  <div class="row">
    <div class="col-9 d-flex flex-wrap gap-1">
      <% @event.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 300, crop: :fill %>
      <% end %>
    </div>
    <div class="col-3">
      <strong>Event Info:</strong>
      <p>Name: <%= @event.name %></p>
      <p>Description: <%= @event.description %></p>
      <p>Price: $<%= @event.price %>AUD</p>
      <p>Capacity: <%= @event.capacity %> person</p>
      <p>Start Time: <%= @event.start_time %></p>
      <p>End Time:<%= @event.end_time %></p>
      <p>Event Date: <%= @event.date %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ol>
      <% @event.bookings.each do |booking| %>
        <li>
          <%= booking.user.full_name || booking.user.first_name %>
          <%= link_to 'confirm', '#' %>
        </li>
       <% end %>
      </ol>
    </div>
  </div>
</div>
