<!DOCTYPE html>
<html>
  <head>
    <title>Mealville</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12 col-md-2">
          <div class="d-flex flex-column flex-shrink-0 p-3 h-100">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Host Dashboard</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li>
                <%= link_to host_events_path, class: "nav-link" do %>
                  <i class="fa fa-white fa-calendar"></i>
                  Events
                <% end %>
              </li>
              <li>
                <a href="#" class="nav-link">
                  <i class="fa fa-white fa-envelope"></i>
                  TODO: Reviews
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
